<div class="container ml-1">
  <div class="row mb-4">
    Current Progression
  </div>
  <div class="row mb-4">
    <div class="card mb-2 mr-2" *ngFor="let chord of progChords">
      <div class="card-header">{{ chord.root | NoteToString }} {{ chord.name }}</div>
      <div class="card-body">{{ chord.getList() | NoteToString }}</div>
    </div>
  </div>
</div>
