<div class="container ml-1">
  <div class="row mb-4">

    <div class="col-1">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Key of {{ key }}
          <span class="caret"></span></button>
        <div class="dropdown-menu">
          <a class="dropdown-item"
             href="#"
             *ngFor="let key of getAllKeys()"
             (click)="setKey(key)">
            {{ key }}
          </a>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Notes
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li (click)="allNotes()">all</li>
          <li (click)="harmonicMinorScale()">harmonic minor</li>
          <li (click)="majorScale()">major</li>
          <li (click)="minorScale()">minor</li>
        </ul>
      </div>
    </div>

    <div class="col-1">
      <button class="btn btn-secondary" (click)="toggleSharps()">{{ sharps ? "#" : "b" }}</button>
    </div>

  </div>

  <div class="row">
    <div class="col-1">
      <p>
        {{ notelistName }}
      </p>
    </div>
    <div class="col-3">
      <button type="button"
              class="btn btn-default btn-sm"
              *ngFor="let note of notelist">
        {{ note }}
      </button>
    </div>
  </div>

</div>
