<h2 class="font-italic ml-1">{{ title }}</h2>

<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="scales">Scales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="progressions">Progressions</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<h3>
  <a class="float-right mr-5" href="https://bitbucket.org/bhartley/harmonies/">Source</a>
</h3>
